body{
  background-color: green;
}
.card, .sortCard {
  position: relative;
  border-radius: 4%;
  background-color: white;
  min-height: 120px;
  width: 100px;
  font-size: 10px;
  margin: 5px; 
}
.value, .valueSort {
  position: absolute;
  left: 0;
  top: -20%;
  min-width: 100%;
  text-align: center;
  font-size: 5em;
}
.iterationRender{
  font-size: 2em;
}
.nw, .nwSort{
  position: absolute;
  top: -40%;
  left: 3%;
  font-size: 4em;
}
.se, .seSort {
  position: absolute;
  bottom: -40%;
  right: 3%;
  font-size: 4em;
  transform:rotate(180deg);
}
input{
    width: 4em;
    text-align: center;
    margin-left: 5px;
}
.dataEntry{
    display: flex;
    align-items: baseline;
    
}
.container, .sortCardContainer {
   display: flex; 
   flex-wrap: wrap;
}
button{
    margin-left: 5px;
}